In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/45/b0/9d6860891ab14a39d4bddf80ba26ce51c2f9dc4805e5c6978ac0472c120a/pyspark-3.1.1.tar.gz (212.3MB)
     |████████████████████████████████| 212.3MB 65kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 16.5MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.1-py2.py3-none-any.whl size=212767604 sha256=59e477ac297d93367cd0d8159517bd48aecc616c277a775bcf3dd0a679be7924
  Stored in directory: /root/.cache/pip/wheels/0b/90/c0/01de724414ef122bd05f056541fb6a0ecf47c7ca655f8b3c0f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.1

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('HR').getOrCreate()
df = spark.read.csv('train_LZdllcl.csv', header = True, inferSchema = True)
df.printSchema()

root
 |-- employee_id: integer (nullable = true)
 |-- department: string (nullable = true)
 |-- region: string (nullable = true)
 |-- education: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- recruitment_channel: string (nullable = true)
 |-- no_of_trainings: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- previous_year_rating: integer (nullable = true)
 |-- length_of_service: integer (nullable = true)
 |-- KPIs_met >80%: integer (nullable = true)
 |-- awards_won?: integer (nullable = true)
 |-- avg_training_score: integer (nullable = true)
 |-- is_promoted: integer (nullable = true)

In [3]:
df.show(10)

+-----------+-----------------+---------+----------------+------+-------------------+---------------+---+--------------------+-----------------+-------------+-----------+------------------+-----------+
|employee_id|       department|   region|       education|gender|recruitment_channel|no_of_trainings|age|previous_year_rating|length_of_service|KPIs_met >80%|awards_won?|avg_training_score|is_promoted|
+-----------+-----------------+---------+----------------+------+-------------------+---------------+---+--------------------+-----------------+-------------+-----------+------------------+-----------+
|      65438|Sales & Marketing| region_7|Master's & above|     f|           sourcing|              1| 35|                   5|                8|            1|          0|                49|          0|
|      65141|       Operations|region_22|      Bachelor's|     m|              other|              1| 30|                   5|                4|            0|          0|                60|          0|
|       7513|Sales & Marketing|region_19|      Bachelor's|     m|           sourcing|              1| 34|                   3|                7|            0|          0|                50|          0|
|       2542|Sales & Marketing|region_23|      Bachelor's|     m|              other|              2| 39|                   1|               10|            0|          0|                50|          0|
|      48945|       Technology|region_26|      Bachelor's|     m|              other|              1| 45|                   3|                2|            0|          0|                73|          0|
|      58896|        Analytics| region_2|      Bachelor's|     m|           sourcing|              2| 31|                   3|                7|            0|          0|                85|          0|
|      20379|       Operations|region_20|      Bachelor's|     f|              other|              1| 31|                   3|                5|            0|          0|                59|          0|
|      16290|       Operations|region_34|Master's & above|     m|           sourcing|              1| 33|                   3|                6|            0|          0|                63|          0|
|      73202|        Analytics|region_20|      Bachelor's|     m|              other|              1| 28|                   4|                5|            0|          0|                83|          0|
|      28911|Sales & Marketing| region_1|Master's & above|     m|           sourcing|              1| 32|                   5|                5|            1|          0|                54|          0|
+-----------+-----------------+---------+----------------+------+-------------------+---------------+---+--------------------+-----------------+-------------+-----------+------------------+-----------+
only showing top 10 rows

In [4]:
df=df.drop('employee_id')

In [5]:
pd.DataFrame(df.take(5), columns=df.columns).transpose()

                                      0  ...           4
department            Sales & Marketing  ...  Technology
region                         region_7  ...   region_26
education              Master's & above  ...  Bachelor's
gender                                f  ...           m
recruitment_channel            sourcing  ...       other
no_of_trainings                       1  ...           1
age                                  35  ...          45
previous_year_rating                  5  ...           3
length_of_service                     8  ...           2
KPIs_met >80%                         1  ...           0
awards_won?                           0  ...           0
avg_training_score                   49  ...          73
is_promoted                           0  ...           0

[13 rows x 5 columns]

In [6]:
categorical_feautres=['department','region','education','gender','recruitment_channel']

numerical_cat_feautres=['no_of_trainings','age','previous_year_rating','KPIs_met >80%','awards_won?']

numerical_feautres=['length_of_service','avg_training_score']

Target=['is_promoted']

In [7]:
df.columns

['department',
 'region',
 'education',
 'gender',
 'recruitment_channel',
 'no_of_trainings',
 'age',
 'previous_year_rating',
 'length_of_service',
 'KPIs_met >80%',
 'awards_won?',
 'avg_training_score',
 'is_promoted']

In [8]:
df.describe().toPandas().transpose()

                          0                     1  ...           3                 4
summary               count                  mean  ...         min               max
department            54808                  None  ...   Analytics        Technology
region                54808                  None  ...    region_1          region_9
education             52399                  None  ...  Bachelor's  Master's & above
gender                54808                  None  ...           f                 m
recruitment_channel   54808                  None  ...       other          sourcing
no_of_trainings       54808     1.253010509414684  ...           1                10
age                   54808     34.80391548679025  ...          20                60
previous_year_rating  50684     3.329255780917055  ...           1                 5
length_of_service     54808     5.865512333965844  ...           1                37
KPIs_met >80%         54808   0.35197416435556855  ...           0                 1
awards_won?           54808  0.023171799737264635  ...           0                 1
avg_training_score    54808     63.38675010947307  ...          39                99
is_promoted           54808   0.08517004816815063  ...           0                 1

[14 rows x 5 columns]

In [9]:
df.toPandas()[df.columns].nunique()

department               9
region                  34
education                3
gender                   2
recruitment_channel      3
no_of_trainings         10
age                     41
previous_year_rating     5
length_of_service       35
KPIs_met >80%            2
awards_won?              2
avg_training_score      61
is_promoted              2
dtype: int64

In [10]:
categorical_feautres=['department','region','education','gender','recruitment_channel']

numerical_cat_feautres=['no_of_trainings','age','previous_year_rating','KPIs_met >80%','awards_won?']

numerical_feautres=['length_of_service','avg_training_score']

Target=['is_promoted']

In [11]:
df.toPandas().isna().sum()

department                 0
region                     0
education               2409
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    4124
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
is_promoted                0
dtype: int64

In [12]:
df.filter(df['education'].isNull()).count()  , df.filter(df['previous_year_rating'].isNull()).count()

(2409, 4124)

In [13]:
mode_edu=df.groupby("education").count().orderBy("count", ascending=False).first()[0]
mode_pyr=df.groupby("previous_year_rating").count().orderBy("count", ascending=False).first()[0]

In [14]:
mode_edu,mode_pyr

("Bachelor's", 3)

In [15]:
df=df.na.fill(value="Bachelor's",subset=["education"])
df=df.na.fill(value=3,subset=["previous_year_rating"])

In [ ]:
import pyspark.sql.utils
try: 
   for j in df_final.toPandas().columns:
       print("Correlation with "+j+"  is_promoted",df_final.corr('is_promoted',j))
except pyspark.sql.utils.AnalysisException:
      print("Unable to process your query dude!!")

In [17]:
stages = []
from pyspark.ml.feature import StringIndexer,OneHotEncoder,VectorAssembler
categorical_feautres=['department','region','education','gender','recruitment_channel']
for categoricalCol in categorical_feautres:
    stringIndexer = StringIndexer(inputCol = categoricalCol, outputCol = categoricalCol + 'Index')
    encoder = OneHotEncoder(inputCols=[stringIndexer.getOutputCol()], outputCols=[categoricalCol + "classVec"])
    stages += [stringIndexer, encoder]

label_stringIdx = StringIndexer(inputCol = 'is_promoted', outputCol = 'label')
stages += [label_stringIdx]

assemblerInputs = [c + "classVec" for c in categorical_feautres] + numerical_feautres + numerical_cat_feautres

assembler = VectorAssembler(inputCols=assemblerInputs, outputCol="features")
stages += [assembler]

In [18]:
cols=df.columns

In [19]:
from pyspark.ml import Pipeline
pipeline = Pipeline(stages = stages)
pipelineModel = pipeline.fit(df)
df_vec = pipelineModel.transform(df)
selectedCols = ['label', 'features'] + cols
df_vec = df_vec.select(selectedCols)
df_vec.printSchema()

root
 |-- label: double (nullable = false)
 |-- features: vector (nullable = true)
 |-- department: string (nullable = true)
 |-- region: string (nullable = true)
 |-- education: string (nullable = false)
 |-- gender: string (nullable = true)
 |-- recruitment_channel: string (nullable = true)
 |-- no_of_trainings: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- previous_year_rating: integer (nullable = true)
 |-- length_of_service: integer (nullable = true)
 |-- KPIs_met >80%: integer (nullable = true)
 |-- awards_won?: integer (nullable = true)
 |-- avg_training_score: integer (nullable = true)
 |-- is_promoted: integer (nullable = true)

In [20]:
pd.DataFrame(df.take(5), columns=df.columns).transpose()

                                      0  ...           4
department            Sales & Marketing  ...  Technology
region                         region_7  ...   region_26
education              Master's & above  ...  Bachelor's
gender                                f  ...           m
recruitment_channel            sourcing  ...       other
no_of_trainings                       1  ...           1
age                                  35  ...          45
previous_year_rating                  5  ...           3
length_of_service                     8  ...           2
KPIs_met >80%                         1  ...           0
awards_won?                           0  ...           0
avg_training_score                   49  ...          73
is_promoted                           0  ...           0

[13 rows x 5 columns]

In [23]:
train, test = df_vec.randomSplit([0.7, 0.3], seed = 2018)
print("Training Dataset Count: " + str(train.count()))
print("Test Dataset Count: " + str(test.count()))

Training Dataset Count: 38407
Test Dataset Count: 16401

In [26]:
from pyspark.ml.classification import RandomForestClassifier
rf = RandomForestClassifier(featuresCol = 'features', labelCol = 'label',maxDepth=5, impurity='gini')
rfModel = rf.fit(train)
predictions = rfModel.transform(test)
predictions.select( 'label', 'rawPrediction', 'prediction', 'probability').show(10)

+-----+--------------------+----------+--------------------+
|label|       rawPrediction|prediction|         probability|
+-----+--------------------+----------+--------------------+
|  0.0|[18.8514773708260...|       0.0|[0.94257386854130...|
|  0.0|[18.8693954148972...|       0.0|[0.94346977074486...|
|  0.0|[18.8693954148972...|       0.0|[0.94346977074486...|
|  0.0|[18.8514773708260...|       0.0|[0.94257386854130...|
|  0.0|[18.8514773708260...|       0.0|[0.94257386854130...|
|  0.0|[18.8514773708260...|       0.0|[0.94257386854130...|
|  0.0|[18.8693954148972...|       0.0|[0.94346977074486...|
|  0.0|[18.8514773708260...|       0.0|[0.94257386854130...|
|  0.0|[18.8514773708260...|       0.0|[0.94257386854130...|
|  0.0|[18.8514773708260...|       0.0|[0.94257386854130...|
+-----+--------------------+----------+--------------------+
only showing top 10 rows

In [28]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator
evaluator = BinaryClassificationEvaluator()
print("Test Area Under ROC: " + str(evaluator.evaluate(predictions, {evaluator.metricName: "areaUnderROC"})))

Test Area Under ROC: 0.8351257649425928

In [29]:
from pyspark.ml.classification import GBTClassifier
gbt = GBTClassifier(maxIter=10,)
gbtModel = gbt.fit(train)
predictions = gbtModel.transform(test)
predictions.select( 'label', 'rawPrediction', 'prediction', 'probability').show(10)

+-----+--------------------+----------+--------------------+
|label|       rawPrediction|prediction|         probability|
+-----+--------------------+----------+--------------------+
|  0.0|[1.32033491990410...|       0.0|[0.93343359721933...|
|  0.0|[1.32033491990410...|       0.0|[0.93343359721933...|
|  0.0|[1.32033491990410...|       0.0|[0.93343359721933...|
|  0.0|[1.32033491990410...|       0.0|[0.93343359721933...|
|  0.0|[1.32033491990410...|       0.0|[0.93343359721933...|
|  0.0|[1.32033491990410...|       0.0|[0.93343359721933...|
|  0.0|[1.32033491990410...|       0.0|[0.93343359721933...|
|  0.0|[1.32033491990410...|       0.0|[0.93343359721933...|
|  0.0|[1.32033491990410...|       0.0|[0.93343359721933...|
|  0.0|[1.32033491990410...|       0.0|[0.93343359721933...|
+-----+--------------------+----------+--------------------+
only showing top 10 rows

In [40]:
gbtModel.featureImportances

SparseVector(53, {0: 0.227, 1: 0.1039, 2: 0.0479, 3: 0.0083, 4: 0.0128, 5: 0.0456, 6: 0.0214, 8: 0.0004, 9: 0.0006, 10: 0.0029, 15: 0.0033, 16: 0.0003, 20: 0.0021, 21: 0.0013, 23: 0.0001, 25: 0.0008, 26: 0.001, 27: 0.0006, 31: 0.0004, 41: 0.0002, 43: 0.0014, 44: 0.0004, 46: 0.017, 47: 0.2983, 48: 0.0021, 49: 0.0134, 50: 0.0232, 51: 0.1229, 52: 0.0405})

In [30]:
print(gbt.explainParams())

cacheNodeIds: If false, the algorithm will pass trees to executors to match instances with nodes. If true, the algorithm will cache node IDs for each instance. Caching can speed up training of deeper trees. Users can set how often should the cache be checkpointed or disable it by setting checkpointInterval. (default: False)
checkpointInterval: set checkpoint interval (>= 1) or disable checkpoint (-1). E.g. 10 means that the cache will get checkpointed every 10 iterations. Note: this setting will be ignored if the checkpoint directory is not set in the SparkContext. (default: 10)
featureSubsetStrategy: The number of features to consider for splits at each tree node. Supported options: 'auto' (choose automatically for task: If numTrees == 1, set to 'all'. If numTrees > 1 (forest), set to 'sqrt' for classification and to 'onethird' for regression), 'all' (use all features), 'onethird' (use 1/3 of the features), 'sqrt' (use sqrt(number of features)), 'log2' (use log2(number of features)), 'n' (when n is in the range (0, 1.0], use n * number of features. When n is in the range (1, number of features), use n features). default = 'auto' (default: all)
featuresCol: features column name. (default: features)
impurity: Criterion used for information gain calculation (case-insensitive). Supported options: variance (default: variance)
labelCol: label column name. (default: label)
leafCol: Leaf indices column name. Predicted leaf index of each instance in each tree by preorder. (default: )
lossType: Loss function which GBT tries to minimize (case-insensitive). Supported options: logistic (default: logistic)
maxBins: Max number of bins for discretizing continuous features.  Must be >=2 and >= number of categories for any categorical feature. (default: 32)
maxDepth: Maximum depth of the tree. (>= 0) E.g., depth 0 means 1 leaf node; depth 1 means 1 internal node + 2 leaf nodes. (default: 5)
maxIter: max number of iterations (>= 0). (default: 20, current: 10)
maxMemoryInMB: Maximum memory in MB allocated to histogram aggregation. If too small, then 1 node will be split per iteration, and its aggregates may exceed this size. (default: 256)
minInfoGain: Minimum information gain for a split to be considered at a tree node. (default: 0.0)
minInstancesPerNode: Minimum number of instances each child must have after split. If a split causes the left or right child to have fewer than minInstancesPerNode, the split will be discarded as invalid. Should be >= 1. (default: 1)
minWeightFractionPerNode: Minimum fraction of the weighted sample count that each child must have after split. If a split causes the fraction of the total weight in the left or right child to be less than minWeightFractionPerNode, the split will be discarded as invalid. Should be in interval [0.0, 0.5). (default: 0.0)
predictionCol: prediction column name. (default: prediction)
probabilityCol: Column name for predicted class conditional probabilities. Note: Not all models output well-calibrated probability estimates! These probabilities should be treated as confidences, not precise probabilities. (default: probability)
rawPredictionCol: raw prediction (a.k.a. confidence) column name. (default: rawPrediction)
seed: random seed. (default: -8119290345736220968)
stepSize: Step size (a.k.a. learning rate) in interval (0, 1] for shrinking the contribution of each estimator. (default: 0.1)
subsamplingRate: Fraction of the training data used for learning each decision tree, in range (0, 1]. (default: 1.0)
thresholds: Thresholds in multi-class classification to adjust the probability of predicting each class. Array must have length equal to the number of classes, with values > 0, excepting that at most one value may be 0. The class with largest value p/t is predicted, where p is the original probability of that class and t is the class's threshold. (undefined)
validationIndicatorCol: name of the column that indicates whether each row is for training or for validation. False indicates training; true indicates validation. (undefined)
validationTol: Threshold for stopping early when fit with validation is used. If the error rate on the validation input changes by less than the validationTol, then learning will stop early (before `maxIter`). This parameter is ignored when fit without validation is used. (default: 0.01)
weightCol: weight column name. If this is not set or empty, we treat all instance weights as 1.0. (undefined)

In [31]:
evaluator = BinaryClassificationEvaluator()
print("Test Area Under ROC: " + str(evaluator.evaluate(predictions, {evaluator.metricName: "areaUnderROC"})))

Test Area Under ROC: 0.8955473567961648

In [38]:
from pyspark.ml.tuning import ParamGridBuilder, CrossValidator
paramGrid = (ParamGridBuilder()
             .addGrid(gbt.maxDepth, [2, 4, 6])
             .addGrid(gbt.maxBins, [20, 60])
             .addGrid(gbt.maxIter, [10, 20])
             .build())
cv = CrossValidator(estimator=gbt, estimatorParamMaps=paramGrid, evaluator=evaluator, numFolds=5)
cvModel = cv.fit(train)
predictions = cvModel.transform(test)
evaluator.evaluate(predictions)

0.9052997769459541